/* .container{
    position: relative;
}
.box{
        position: absolute;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.box:nth-child(1){
    top: 20px;
    left: 120px;
    background-color: pink;
}
.box:nth-child(2){
    top: 120px;
    left: 220px;
    background-color: lightskyblue;
    z-index: 1;
}
.box:nth-child(3){
    top: 220px;
    left: 320px;
    background-color: lightgreen;
} */